
# Ignore bundler config.
/.bundle
Gemfile.lock

# configuration files
config/deploy/development.rb
config/database.yml
config/secrets.yml

# Ignore all logfiles and tempfiles.
/log
/tmp

# vendors
vendor

# others files
*.orig
*.DS_Store
Thumbs.db

# keep file
!.keep
